<%-include('cabecalho.ejs')%>
    <form method="post">
        <div class="form-floating">
            <input class="form-control" type="search" name="pesquisar" id="search" placeholder="Pesquisar">
            <label class="form-label" for="search">Pesquisar</label>
        </div>
        <div>
            <input class="btn btn-outline-primary" type="submit" value="pesquisar">
        </div>
    </form>
    <table class="table table-striped table-bordered">
        <tr>
            <th>Nome</th>
            <th>Email</th>
            <th>Foto</th>
        </tr>
        <% Usuarios.forEach(function(usuario){ %>
            <tr>
                <td>
                    <%=usuario.nome%>
                </td>
                <td>
                    <%=usuario.email%>
                </td>
                <td>
                    <img src="/<%=usuario.foto%>" width="100px" alt="Foto do perfil">
                </td>
                <td>
                    <a href="/editarusuario/<%=usuario._id%>">Editar</a>
                    <a href="/deletarusuario/<%=usuario._id%>">Deletar</a>
                </td>
                </div>
            </tr>
            <%})%>
    </table>
    <%-include('rodape.ejs')%>